*{
    margin: 0;
    padding: 0;
}

h1{
    /* margin: .67em 0; */
    /* font-size: 2em; */
    font-family: Arial, sans-serif;
}
.navbar{
    background-color: royalblue
}
.navbar{
  display: flex;
}
.logo img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.navbar1{
    display: flex;
    justify-content: space-between;
}
.nav-container li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
}
.nav-container ul li {
    display: flex;

}

